{% extends 'base.html' %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome!</h1>
            <p>Welcome to my blogging website! Here we'll be talking about everything happening around the world.</p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
</div>
{% endblock %}